<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static\css\style.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body id="hehe" src="blue.gif">
    <header class="header">
        <a href="" class="logo"><i class="fa-solid fa-indian-rupee-sign" style="color: #3ea1fe;"></i>PricePuls</a>

        <nav class="navbar">
            <a href="home.html">Home</a>
            <a href="login.html">Tracker</a>
            <a href="contact.html">Contact Us</a> 
            <a href="login.html">Login</a>
        </nav>
    </header>

    <section class="home">
        <div class="home-content"
        <h1 id="b">Stay Ahead, In the ever changing world</h1>
        <h3 id="d">PricePuls</h3>
        <P>At PriceTrackr, we’re passionate about empowering consumers with the tools they need to make informed purchasing decisions. Founded with a vision to simplify the shopping experience, our platform offers comprehensive price tracking, comparison, and alert services for a wide array of products.</P>
    <div class="btn-box">
        <a href="index.html">Get to Tracker</a>
    </div>
    <div id="cart" src="cart.png">
    
    </div>
    </section>

</body>
</html>